{% extends "base.html.twig" %}
    {% block body %}

Symfony est un Framework Open-Source, dont l’objectif est de développer des applications web professionnelles en utilisant le langage PHP.
<br>
<br>Symfony apporte une architecture, des composants et des outils pour que les développeurs construisent des applications web complexes plus rapidement. Choisir Symfony permet de publier vos applications plus tôt, de les héberger et de les diffuser sans problème, et ainsi de les maintenir dans le temps sans mauvaise surprise. Symfony est basé sur l’expérience. Notre crédo ? Non pas créer pour créer, mais enrichir l’existant, dans une logique “open-source“. Des milliers de développeurs font désormais confiance à Symfony pour leurs applications ! Et tous les mois, plus d’ 1 000 000 de visiteurs différents se rendent sur le site officiel Symfony. Symfony est utilisé par de nombreuses entreprises comme Yahoo !, Dailymotion, Ted.com, Electronic Arts, Orange, ArianeEspace, et bien d’autres encore.
<br>
<br>
        {{ render(controller('BoAdminBundle:Default:calcul')) }}
<br>
<div align="center"><img src="{{ asset('bundles/framework/images/sf.png') }}" alt="sf"></div>



Fermer
{% endblock %}